body{
  margin-top: 0px;
  height: 40vw;
}

.login, .signup{
  /* background: url('../src/assets/pexels-simon-berger-3462588.jpg'); */
  background-color: #ac860a36;
  background-position: 0px;
  
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* width: 99vw; */

  transition: background 300ms ease-in 200ms;
}

.hed{
  margin-bottom: 150px;
}

.hed h2{
  font-size: 28px;
  text-align: center;
}

.hed>h3 a{
  
  color: #343139;
  text-decoration: none;
  border-bottom: .125em solid #07ff77a7;
  box-shadow: inset 0 -0.125em 0 #07ff77a7;
  transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
  
}
  
.hed>h3 a:hover{
  box-shadow: inset 0 -1.125em 0 #07ff77a7;
  color: #000000;  
}

.inputs{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
  margin-top: 30px;
}

.submit-btn{
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background: linear-gradient(-45deg, #59c50c, #03b400);
  color: #FFFFFF;
  border: 0px solid;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;

  box-shadow:3px 3px 6px #000000b5;
}

.submit-btn:active{
  box-shadow: 0px 0px 0px;
  transition: 150ms ease-in-out;
}

input{
  padding: 10px;
  border-radius: 6px;
  border: 2px solid;
  font-size: 18px;
  margin-bottom: 20px;
}

.sig-inputs{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 60px;
  /* margin: auto; */
  /* margin-top: 70px; */
  margin-bottom: 30px;
}


.sub-sig{
  width: 100px;
  font-size: 18px;
  font-weight: 600;
  padding: 10px;
  background: linear-gradient(-45deg, #0c62c5, #0600b4);
  color: #FFFFFF;
  border: 0px solid;
  border-radius: 3px;
  cursor: pointer;
  margin: auto;
  margin-top: 10px;
  
  box-shadow: 3px 3px 6px #000000b5;
}

.sub-sig:active {
  box-shadow: 0px 0px 0px;
  transition: 150ms ease-in-out;
}


.sig-inputs>h3{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;

}

.signup>h3{
  color: #000000;
}

.signup h5{
  font-size: 18px;  
}

.signup a{
  color: #343139;
    text-decoration: none;
    border-bottom: .125em solid #07ff77a7;
    box-shadow: inset 0 -0.125em 0 #07ff77a7;
    transition: box-shadow 270ms cubic-bezier(0.77, 0, 0.175, 1), color 270ms cubic-bezier(0.77, 0, 0.175, 1);
}

.signup a:hover{
  box-shadow: inset 0 -1.125em 0 #07ff77a7;
  color: #000000;
  
}


.navbar{
  background-color: #1d1d1d;
  padding: 20px 40px;

  display: flex;
  justify-content: space-between;
}

.land-nav-a>a, .land-nav-b>a{
  color: #FFFFFF;
  text-decoration: none;
  font-size: 20px;

  padding: 23px;
}

.land-nav-a{
  margin-left: 100px;
}

.land-nav-a>a:hover, .land-nav-b>a:hover{
  background-color: #000000;
  transition: 400ms ease-in-out;
}


.land-nav-b{
  position: relative;
  left: 40px;
}

.first-content{
  display: flex;
  flex-direction: column;

  text-align: center;

  margin-bottom: 100px;
  margin-top: 50px;
  width: 100vw;

}

.first-content p{
  /* width: 300px; */
  text-align: center;

}

.fc-head1{
  color: #00d6b3;

}

.buttons-div{
  width: 100vw;
  text-align: center;
}

.buttons-div h3{
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: -webkit-linear-gradient(-45deg, #9683ff, #8519d2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.land-btn{

  padding: 15px 20px;
  font-size: 12px;
  font-weight: 600;

  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 8px;
  
  margin: 0 10px;
}

.land-btn a{
  color: #FFFFFF;
  text-decoration: none;
}

.land-btn a:active{
  color: #000000;
}

.land-btn:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

.land-btn:active {
  color: #000
}

.land-btn:active:after {
  background: transparent;
}

.land-btn:hover:before {
opacity: 1;
}

.land-btn:after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}



.first-content h1{
  font-size: 60px;

}






.fc-head1{
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
}

.fc-head1 span {
  opacity: 0;
  animation: fadeIn 1s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

